<div class="container">
    <table class="table">
        <th>username</th>
        <th>name</th>
        <th>email</th>
        <th>bio</th>
        <tbody>
            <tr>
                <td><%= @user.username %></td>
                <td><%= @user.name %></td>
                <td><%= @user.email %></td>
                <td><%= @user.bio %></td>
            </tr>
        </tbody>
    </table>
</div>