<div id="landing-page" class="text-center">
  <section class="landing-page-title">
    <h1>Welcome to the <strong class="site-highlight">Learn Party</strong></h1>
    <h2>Get the best learning materials online. <strong class="site-highlight">On Demand. </strong></h2>
    <hr>
    <div class="landing-page-call-to-action">
    	<a href="/login" class="btn btn-default">LOGIN</a>
    	<a href="/register" class="btn btn-success">REGISTER</a>
    </div>
  </section>
  <a href="#main-content" id="scroll-to-content"><i class="fa fa-chevron-circle-down"></i></a>
</div>

<div id="main-content" class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Videos By Category</h3>
            </div>
            <div class="panel-body popular-videos"> <span class="badge"><a href="http://learn-party.herokuapp.com">All</a></span>
              <span class="badge">
              	<a href="http://learn-party.herokuapp.com/category/pop">pop</a>
            	</span>
            </div>
          </div>
        </div>
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Popular - Most Viewed</h3>
                  </div>
                  <div class="panel-body popular-videos">
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="http://learn-party.herokuapp.com/videos/3">Classic Man </a>
                      <span class="incognito-text">(88)</span>
                  </h5>
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="http://learn-party.herokuapp.com/videos/1">Little Bit More </a>
                      <span class="incognito-text">(80)</span>
                  </h5>
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="http://learn-party.herokuapp.com/videos/2">afsds </a>
                      <span class="incognito-text">(44)</span>
                  </h5>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Popular - Most Liked</h3>
                  </div>
                  <div class="panel-body popular-videos">
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="http://learn-party.herokuapp.com/videos/4">ljljlj </a>
                      <span class="incognito-text">(1)</span>
                  </h5>
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="http://learn-party.herokuapp.com/videos/1">Little Bit More </a>
                      <span class="incognito-text">(1)</span>
                  </h5>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Popular - Most commented on</h3>
                  </div>
                  <div class="panel-body popular-videos">
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="http://learn-party.herokuapp.com/videos/4">ljljlj </a>
                      <span class="incognito-text">(1)</span>
                  </h5>
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="http://learn-party.herokuapp.com/videos/1">Little Bit More </a>
                      <span class="incognito-text">(1)</span>
                  </h5>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Top video publishers</h3>
                  </div>
                  <div class="panel-body popular-videos"> <span class="badge">
                          <a href="http://learn-party.herokuapp.com/users/1">John Kariuki</a>
                          <span class="incognito-text">(1)</span>
                      </span> <span class="badge">
                          <a href="http://learn-party.herokuapp.com/users/32">john</a>
                          <span class="incognito-text">(1)</span>
                      </span> <span class="badge">
                          <a href="http://learn-party.herokuapp.com/users/24">tyler malin</a>
                          <span class="incognito-text">(1)</span>
                      </span> <span class="badge">
                          <a href="http://learn-party.herokuapp.com/users/19">victor mutai</a>
                          <span class="incognito-text">(1)</span>
                      </span> <span class="badge">
                          <a href="http://learn-party.herokuapp.com/users/15">Fayez Mubarqui</a>
                          <span class="incognito-text">(1)</span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
        <div class="col-md-9">
            <div id="video-library">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <a href="http://learn-party.herokuapp.com/videos/5">
                            <img class="video-iframe" src="http://img.youtube.com/vi/CuD7SCqHB7k/0.jpg" allowfullscreen="">
                        </a>
                        <section class="video">
                            <div class="title">
                                <h4>
                            <a href="http://learn-party.herokuapp.com/videos/5">
                            Rust keynote
                            
                            </a>
                        </h4>
                            </div>
                            <p>Rust keynote description</p>
                        </section>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <a href="http://learn-party.herokuapp.com/videos/4">
                            <img class="video-iframe" src="http://img.youtube.com/vi/bYdTrQQk_zA/0.jpg" allowfullscreen="">
                        </a>
                        <section class="video">
                            <div class="title">
                                <h4>
                            <a href="http://learn-party.herokuapp.com/videos/4">
                            ljljlj
                            
                            </a>
                        </h4>
                            </div>
                            <p>stuff</p>
                        </section>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <a href="http://learn-party.herokuapp.com/videos/3">
                            <img class="video-iframe" src="http://img.youtube.com/vi/URiDdlAS6ls/0.jpg" allowfullscreen="">
                        </a>
                        <section class="video">
                            <div class="title">
                                <h4>
                            <a href="http://learn-party.herokuapp.com/videos/3">
                            Classic Man
                            
                            </a>
                        </h4>
                            </div>
                            <p>Totally classy</p>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <a href="http://learn-party.herokuapp.com/videos/2">
                            <img class="video-iframe" src="http://img.youtube.com/vi/kxLoycj4pJY/0.jpg" allowfullscreen="">
                        </a>
                        <section class="video">
                            <div class="title">
                                <h4>
                            <a href="http://learn-party.herokuapp.com/videos/2">
                            afsds
                            
                            </a>
                        </h4>
                            </div>
                            <p>asdfasd</p>
                        </section>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <a href="http://learn-party.herokuapp.com/videos/1">
                            <img class="video-iframe" src="http://img.youtube.com/vi/BzxjbS19MP0/0.jpg" allowfullscreen="">
                        </a>
                        <section class="video">
                            <div class="title">
                                <h4>
                            <a href="http://learn-party.herokuapp.com/videos/1">
                            Little Bit More
                            
                            </a>
                        </h4>
                            </div>
                            <p>Published on Jul 27, 2016 &quot; Little Bit More&quot; is available at iTunes: http://smarturl.it/LittleBitMo <a href="http://learn-party.herokuapp.com/videos/1">. . .</a>
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>